body {
  text-align: center;
  margin-top: 15rem;
  background-color: #56ffd2;
}
.list {
  list-style: none;
  margin-top: 20px;
}
h1 {
  font-size: 50px;
}
h3 {
  font-size: 30px;
}
p {
  font-size: 14px;
  font-weight: 500;
}